$color-gray: #a5a2a2;
$color-red: #dd2020;
$color-orange: #ffae42;
$color-white: #fff;
$color-green: #1dbc60;
$color-igdb-green: #3eb87a;
$color-light-green: #7CB490;
$color-blue: #00a8f0;
$color-dark-gray: #555555;
$color-darker-gray: #333333;
$color-darkest-gray: #222222;
$color-light-gray: #e5e5e5;
$color-lightest-gray: #f0f0f0;
