$color-gray: #a5a2a2;
$color-red: #dd2020;
$color-orange: #ffae42;
$color-white: #fff;
$color-green: #1dbc60;
$color-light-green: #7CB490;
$color-blue: #00a8f0;
$color-dark-gray: #555555;
$color-light-gray: #e5e5e5;
