@mixin container-xs {
    width: 320px;
    max-height: 100%;
    margin: 60px auto;
    background: $color-white;
    padding: $gp;
    border-radius: $border-radius;
}

@mixin container {
    width: 1200px;
    max-width: 100%;
    margin: 100px auto;
}

@mixin drag-cursor {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    cursor : -o-grab;
    cursor : grab;
}

@mixin dragging-cursor {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}

@mixin floating-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: $gp / 2;
}
