@mixin container-xs {
    width: 320px;
    max-height: 100%;
    margin: 60px auto;
    background: $color-white;
    padding: $gp;
    border-radius: $border-radius;
}

@mixin container {
    width: 1200px;
    max-width: 100%;
    margin: 100px auto;
}

@mixin drag-cursor {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    cursor : -o-grab;
    cursor : grab;
}

@mixin dragging-cursor {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}

@mixin floating-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: $gp / 2;
}

@mixin shake {
    animation: shake 1000ms;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
}