$iconSmallSize: 32px;

a {
    color: $color-blue;
}

a.link {
    display: inline-block;
    line-height: 30px;
    text-decoration: none;

    &.small {
        line-height: $iconSmallSize;
    }
}

.button-group {
    border-radius: $border-radius;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: 1px solid $color-dark-gray;

    button {
        float: left;
        border-radius: 0;
        border: 0 !important;
    }
}

button, a.link {
    outline: none;
    border: none;
    margin: 0;
    padding: 0 $gp;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    border-radius: $border-radius;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    min-height: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 300ms ease;

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    &.small {
        min-height: $iconSmallSize;
        min-width: $iconSmallSize;
        padding: 0 $gp / 2;
    }

    &.tag, &.tiny {
        font-size: 12px;
    }

    &.tag {
        min-height: 20px;
        font-size: 10px;
        color: $color-white;
        margin-right: $gp / 2;
    }

    &.primary {
        background: $color-blue;
        color: $color-white;

        &:hover { background-color: lighten($color-blue, 10%); }
        &:active { background-color: darken($color-blue, 10%); }
    }

    &.accent {
        background: $color-light-gray;
        color: $color-dark-gray;

        &:hover { background-color: lighten($color-light-gray, 10%); }
        &:active { background-color: darken($color-light-gray, 10%); }
    }

    &.info {
        background: $color-dark-gray;
        color: $color-white;

        &:hover { background-color: lighten($color-dark-gray, 10%); }
        &:active { background-color: darken($color-dark-gray, 10%); }
    }

    &.error {
        background: $color-red;
        color: $color-white;

        &:hover { background-color: lighten($color-red, 10%); }
        &:active { background-color: darken($color-red, 10%); }
    }

    &.warning {
        background: $color-orange;
        color: $color-white;

        &:hover { background-color: lighten($color-orange, 10%); }
        &:active { background-color: darken($color-orange, 10%); }
    }

    &.hollow {
        &.primary {
            color: $color-blue;
            border: 1px solid $color-blue;
            background: transparent;

            &:hover {
                background: $color-blue;
                color: $color-white;
            }
        }

        &.accent {
            color: $color-gray;
            border: 1px solid $color-gray;
            background: transparent;

            &:hover {
                background: $color-gray;
                color: $color-white;
            }
        }

        &.info {
            color: $color-dark-gray;
            border: 1px solid $color-dark-gray;
            background: transparent;

            &:hover {
                background: $color-dark-gray;
                color: $color-white;
            }
        }

        &.error {
            color: $color-red;
            border: 1px solid $color-red;
            background: transparent;

            &:hover {
                background: $color-red;
                color: $color-white;
            }
        }

        &.warning {
            color: $color-orange;
            border: 1px solid $color-orange;
            background: transparent;

            &:hover {
                background: $color-orange;
                color: $color-white;
            }
        }
    }

    &.filled {
        &.primary {
            color: $color-blue;
            background: transparent;

            &:hover {
                background: $color-lightest-gray;
                color: darken($color-blue, 10%);
            }
        }

        &.accent {
            color: $color-gray;
            background: transparent;

            &:hover {
                background: $color-lightest-gray;
                color: darken($color-gray, 10%);
            }
        }

        &.info {
            color: $color-darkest-gray;
            background: transparent;

            &:hover {
                background: $color-lightest-gray;
                color: darken($color-dark-gray, 10%);
            }
        }

        &.error {
            color: $color-red;
            background: transparent;

            &:hover {
                background: $color-lightest-gray;
                color: darken($color-red, 10%);
            }
        }

        &.warning {
            color: $color-orange;
            background: transparent;

            &:hover {
                background: $color-lightest-gray;
                color: darken($color-orange, 10%);
            }
        }
    }
}