input, select {
    background: $color-white;
    border: 1px solid $color-dark-gray;
    border-radius: $border-radius;
    height: 30px;
    padding: 0 $gp / 2;
    width: 100%;
    margin-bottom: $gp;

    &.small {
        height: 20px;
        margin: 0;
    }
}
