.swal2-popup {
    .swal2-title {
        font-size: initial;
    }

    .swal2-content {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        font-size: initial;
    }

    .swal2-input {
        text-align: center;
    }
}
