version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11.3-browsers
    steps:
      - checkout
      - run: yarn install --pure-lockfile --no-progress --non-interactive
      - run:
          name: "Lint"
          command: |
            echo "Running linter"
            git config --global user.email "circleci@gamebrary.com"
            git config --global user.name "gamebrary"
            yarn lint
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
