.theme-blue {
    --body-background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 56%, rgba(2,0,36,1) 100%);
    --danger-background: #fa023c;
    --danger-text-color: #fff;
    --game-card-background: #ffffff;
    --game-card-text-color: #333333;
    --header-text-color: #fff;
    --link-color: #0ab9e6;
    --list-background: #e5e5e5;
    --list-header-background: #003087;
    --list-header-text-color: #ffffff;
    --modal-background: #fff;
    --modal-text-color: #333;
    --note-color: #ffae42;
    --primary-background: #003087;
    --primary-text-color: #ffffff;
    --rating-star-color: #ffae42;
    --secondary-background: #e5e5e5;
    --secondary-text-color: #222222;
    --success-background: #1dbc60;
    --success-text-color: #ffffff;
    --warning-background: #ffae42;
    --warning-text-color: #734100;
}
