.theme-city-lights {
    --body-background: #12141C;
    --danger-background: #fa023c;
    --danger-text-color: #fcfcfc;
    --game-card-background: #12141C;
    --game-card-text-color: #fc0;
    --header-text-color: #fcfcfc;
    --link-color: #8B76C1;
    --list-background: #0b212f;
    --list-header-background: #003b4a;
    --list-header-text-color: #fcfcfc;
    --modal-background: #0b212f;
    --modal-text-color: #fcfcfc;
    --note-color: #ffae42;
    --primary-background: #003b4a;
    --primary-text-color: #fcfcfc;
    --rating-star-color: #ffae42;
    --secondary-background: #0b212f;
    --secondary-text-color: #fcfcfc;
    --success-background: #8B76C1;
    --success-text-color: #414548;
    --warning-background: #ffae42;
    --warning-text-color: #734100;
}
