.theme-dark {
    --body-background: #222;
    --danger-background: #fa023c;
    --danger-text-color: #fff;
    --game-card-background: #A6A2A2;
    --game-card-text-color: #222;
    --header-text-color: #fff;
    --link-color: #222;
    --list-background: #555;
    --list-header-background: #333;
    --list-header-text-color: #c0c0c0;
    --modal-background: #414548;
    --modal-text-color: #fff;
    --note-color: #ffae42;
    --primary-background: #333;
    --primary-text-color: #c0c0c0;
    --rating-star-color: #ffae42;
    --secondary-background: #333;
    --secondary-text-color: #fff;
    --success-background: #0ab9e6;
    --success-text-color: #414548;
    --warning-background: #ffae42;
    --warning-text-color: #734100;
}
