.theme-default {
    --body-background: #a5a2a2;
    --danger-background: #fa023c;
    --danger-text-color: #fff;
    --game-card-background: #ffffff;
    --game-card-text-color: #333333;
    --placeholder-background: #e5e5e5;
    --placeholder-accent: #ffffff;
    --header-text-color: #222222;
    --accent-color: #1dbc60;
    --list-background: #e5e5e5;
    --list-header-background: #555555;
    --list-header-text-color: #ffffff;
    --modal-background: #414548;
    --modal-text-color: #fff;
    --note-color: #ffae42;
    --primary-background: #{darken(#555, 10%)};
    --primary-text-color: #ffffff;
    --rating-star-color: #ffae42;
    --secondary-background: #e5e5e5;
    --secondary-text-color: #222222;
    --success-background: #1dbc60;
    --success-text-color: #ffffff;
    --warning-background: #ffae42;
    --warning-text-color: #734100;
}
