$modal-header-padding: .5rem .5rem .5rem 1rem;
$btn-padding-y: 5px;
$btn-padding-x: 8px;
$body-bg: #f2f1ef;
$body-color: #2e3131;
$primary: #2F8AB7;
$secondary: #EBEAEB;
$success: #3fc380;
$info: #674172;
$warning: #fabe58;
$danger: #db0a5b;
