.theme-hyrule {
  --border-radius: 4px;
  --body-background: #287135;
  --danger-background: #ea550b;
  --danger-text-color: #{darken(#ea550b, 30%)};
  --game-card-background: #{lighten(#714a2f, 5%)};
  --game-card-text-color: #{lighten(#714a2f, 50%)};
  --header-text-color: #{lighten(#0e5135, 50%)};
  --accent-color: #ffda00;
  --list-background: #{darken(#714a2f, 5%)};
  --list-header-background: #{darken(#714a2f, 10%)};
  --list-header-text-color: #{lighten(#613F19, 40%)};
  --modal-background: #{darken(#5c4639, 10%)};
  --modal-text-color: #{lighten(#5c4639, 60%)};
  --note-color: #FCCFB6;
  --progress-primary-color: #{lighten(#0e5135, 20%)};
  --progress-secondary-color: #{darken(#714a2f, 10%)};
  --progress-text-color: #{lighten(#5c4639, 60%)};
  --primary-background: #0e5135;
  --primary-text-color: #{lighten(#0e5135, 20%)};
  --rating-star-color: #f7a400;
  --secondary-background: #{darken(#714a2f, 10%)};
  --secondary-text-color: #{lighten(#613F19, 40%)};
  --success-background: #324b81;
  --success-text-color: #{lighten(#324b81, 50%)};
  --warning-background: #CC9E48;
  --warning-text-color: #000;
}
