.theme-tomorrow-night {
  --border-radius: 4px;
  --body-background: #1d1f21;
  --danger-background: #cc6666;
  --danger-text-color: #fff;
  --game-card-background: #1d1f21;
  --game-card-text-color: #fff;
  --header-text-color: #fff;
  --accent-color: #de935f;
  --list-background: #1d1f21;
  --list-header-background: #1d1f21;
  --list-header-text-color: #fff;
  --modal-background: #282a2e;
  --modal-text-color: #fff;
  --note-color: #81a2be;
  --progress-primary-color: #b5bd68;
  --progress-secondary-color: #373b41;
  --progress-text-color: #282a2e;
  --primary-background: #373b41;
  --primary-text-color: #fff;
  --rating-star-color: #f0c674;
  --secondary-background: #282a2e;
  --secondary-text-color: #fff;
  --success-background: #b5bd68;
  --success-text-color: #373b41;
  --warning-background: #cc6666;
  --warning-text-color: #fff;
}
