$iconSmallSize: 32px;

a {
    color: var(--link-color);
}

a.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

button, a.link {
    outline: none;
    border: none;
    margin: 0;
    padding: 0 $gp;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    border-radius: $border-radius;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    min-height: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 300ms ease;

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    &.small {
        min-height: $iconSmallSize;
        min-width: $iconSmallSize;
        padding: 0 $gp / 2;
    }

    &.xsmall {
        min-height: $iconSmallSize / 3;
        min-width: $iconSmallSize / 3;
        padding: $gp / 3;
        font-size: 12px;
    }

    &.primary { background: var(--primary-background); color: var(--primary-text-color); }
    &.secondary { background: var(--secondary-background); color: var(--secondary-text-color); }
    &.danger { background: var(--danger-background); color: var(--danger-text-color); }
    &.warning { background: var(--warning-background); color: var(--warning-text-color); }
}