$primary: #da0050 !default;
$muted: #7d7f8c !default;
$danger: #C0392B !default;
$warning: #F39C12 !default;
$success: #6eda40 !default;
$white: #f8f8f6 !default;
$black: #202123 !default;
$info: #4f4d6f !default;
$light: #dee4e7 !default;
$dark: #35363a !default;
$secondary: #4f4e52 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  'primary': $primary,
  'muted': $muted,
  'danger': $danger,
  'warning': $warning,
  'success': $success,
  'white': $white,
  'black': $black,
  'info': $info,
  'light': $light,
  'dark': $dark,
  'secondary': $secondary,
  ), $theme-colors);
