.cursor-pointer {
  cursor: pointer !important;
}

.spinner-centered {
  position: absolute;
  left: calc(50% - 16px);
}

.dropdown-menu {
    max-height: 320px;
    overflow-y: auto;
}

.game-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);

  @media(max-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media(max-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }


  @media(max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }


  @media(max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.board-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  @media(max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &.contained {
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}

.small-container {
  width: 500px !important;
  margin: 0 auto !important;

  @media(max-width: 780px) {
    width: 100% !important;
    margin: 0 !important;
  }
}

.semi-transparent {
  backdrop-filter: saturate(180%) blur(5px);

  &.dark,
  &.bg-dark {
    background: rgba(53, 54, 58, 0.5) !important;
    color: var(--light) !important;
  }

  &.light,
  &.bg-light {
    color: var(--dark) !important;
    background: rgba(222, 228, 231, 0.5) !important;
  }
}
