.cursor-pointer {
  cursor: pointer !important;
}

.spinner-centered {
  position: absolute;
  left: calc(50% - 16px);
}

.dropdown-menu {
    max-height: 320px;
    overflow-y: auto;
}

.game-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);

  @media(max-width: 1280px) {grid-template-columns: repeat(5, 1fr); }
  @media(max-width: 992px) {grid-template-columns: repeat(4, 1fr); }
  @media(max-width: 768px) {grid-template-columns: repeat(3, 1fr); }
  @media(max-width: 480px) {grid-template-columns: repeat(2, 1fr); }
}

.board-grid {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);

  @media(max-width: 1280px) {grid-template-columns: repeat(4, 1fr); }
  @media(max-width: 992px) {grid-template-columns: repeat(3, 1fr); }
  @media(max-width: 768px) {grid-template-columns: repeat(2, 1fr); }
  @media(max-width: 480px) {grid-template-columns: repeat(1, 1fr); }
}

.small-container {
  width: 500px !important;
  margin: 0 auto !important;

  @media(max-width: 780px) {
    width: 100% !important;
    margin: 0 !important;
  }
}

.semi-transparent {
  &.dark,
  &.bg-dark {
    background: #35363A !important;
    color: var(--light) !important;
  }

  &.light,
  &.bg-light {
    color: var(--dark) !important;
    background: #e8e8e8 !important;
  }
}
