textarea, input, select {
  border: 1px solid #555555;
  background: #fff;
  border-radius: $border-radius;
  height: 40px;
  padding: 0 $gp / 2;
  width: 100%;
  font-size: 14px;
  margin-bottom: $gp;
}

textarea {
  height: auto;
  min-height: 80px;
  margin-top: $gp;
  margin-bottom: 0;
  resize: vertical;
  padding: $gp / 2;
}

.checkbox-group {
  display: inline-flex;

  > span {
    width: 60px;
    margin-right: $gp / 2;

    > input {
      display: none;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.active {
        color: var(--accent-color);
      }

      i {
        margin-bottom: $gp / 4;
      }
    }
  }
}

.tabs {
  display: inline-flex;
  border-bottom: 1px solid var(--accent-color);

  > span {
    &:not(:last-child) {
      margin-right: $gp / 2;
    }

    > input {
      display: none;
    }

    label {
      padding: $gp / 4 $gp;
      border-radius: $gp / 2;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid var(--accent-color);
      border-bottom: 0;

      &.active {
        color: var(--accent-color);
      }

      i {
        margin-bottom: $gp / 4;
      }
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 36px;
  border: 0;
  border-radius: $border-radius;
  padding: 0;
  background: transparent;
  overflow: hidden;
  order: 1;
  margin: $gp 0;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: var(--accent-color);
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 36px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--accent-color);
    border-radius: $border-radius;
    overflow: hidden;
  }

  &::-webkit-slider-thumb {
    height: 36px;
    width: 16px;
    background: var(--primary-background);
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: 500px 0 0 500px var(--list-background);
  }

  &::-moz-range-track {
    width: 100%;
    height: 36px;
    cursor: pointer;
    animate: 0.2s;
    overflow: hidden;
    background: var(--list-background);
    border-radius: $border-radius;
  }

  &::-moz-range-thumb {
    height: 36px;
    width: 16px;
    border: none;
    border-radius: 0;
    background: var(--primary-background);
    cursor: pointer;
  }

  &::-moz-range-progress {
    height: 36px;
    width: 16px;
    border: none;
    border-radius: 0;
    background: var(--accent-color);
  }

  &::-ms-track {
    width: 100%;
    height: 36px;
    cursor: pointer;
    animate: 0.2s;
    overflow: hidden;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: var(--accent-color);
    border-radius: $border-radius;
  }

  &::-ms-fill-upper {
    background: var(--accent-color);
    border-radius: $border-radius;
  }

  &::-ms-thumb {
    height: 36px;
    width: 16px;
    border-radius: 0;
    background: var(--primary-background);
    box-shadow: 500px 0 0 500px var(--list-background);
    cursor: pointer;
  }
}

progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  border-radius: $border-radius;
  background: var(--list-background);
  height: 20px;
  border: none;
  overflow: hidden;
  margin: $gp 0;

  @media($small) {
    order: 2;
    margin: $gp auto;
  }

  &::-moz-progress-bar {
    background: var(--accent-color);
  }

  &::-webkit-progress-bar {
    border-radius: $border-radius;
  }

  &::-webkit-progress-value {
    background-image: linear-gradient(var(--accent-color), var(--accent-color));
  }

  .small & {
    height: 10px;
    width: 100%;
    margin: $gp / 4 0;
    border-radius: $border-radius / 2;
  }
}