textarea, input, select {
  border: 1px solid #555555;
  background: #fff;
  border-radius: $border-radius;
  height: 40px;
  padding: 0 $gp / 2;
  width: 100%;
  font-size: 14px;
  margin-bottom: $gp;

  .theme-touch & {
    border-radius: 0;
  }
}

.checkbox-group {
  display: inline-flex;

  > span {
    width: 60px;
    margin-right: $gp / 2;

    > input {
      display: none;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &.active {
        color: var(--accent-color);
      }

      i {
        margin-bottom: $gp / 4;
      }
    }
  }
}

.tabs {
  display: inline-flex;
  border-bottom: 1px solid var(--accent-color);

  > span {
    &:not(:last-child) {
      margin-right: $gp / 2;
    }

    > input {
      display: none;
    }

    label {
      padding: $gp / 4 $gp;
      border-radius: $gp / 2;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid var(--accent-color);
      border-bottom: 0;

      .theme-touch & {
        border-radius: 0;
      }

      &.active {
        color: var(--accent-color);
      }

      i {
        margin-bottom: $gp / 4;
      }
    }
  }
}
