.card-columns {
  @media(min-width: 420px) {
    column-count: 3;
  }

  @media(min-width: 680px) {
    column-count: 4;
  }

  @media(min-width: 1024px) {
    column-count: 5;
  }

  @media(min-width: 1280px) {
    column-count: 7;
  }
}

.modal {
  padding: 1rem 0 !important;

  @media(max-width: 600px) {
    padding: 0 !important;
  }
}

.b-sidebar {
  width: 50vw;

  max-width: calc(100% - 1rem);
}

.toast-header {
  display: none;
}