* {
  box-sizing: border-box;
}

.fast-spin {
  animation: a 500ms infinite linear;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

body, p, a, li, blockquote {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  font-size: 14px;
}
