// Toasts
$toast-max-width: 100px !default;
$toast-padding-x: .5rem !default;
$toast-padding-y: .5rem !default;
$toast-font-size: .875rem !default;
$toast-color: $dark !default;
$toast-background-color: $success;
$toast-border-width: 0 !default;
$toast-no-close-button: true !default;
// $toast-border-color: rgba(0, 0, 0, .1) !default;
// $toast-border-radius: .25rem !default;
// $toast-box-shadow: 0 .25rem .75rem rgba($black, .1) !default;
$toast-header-color: $white !default;
$toast-header-background-color: $black !default;
// $toast-header-border-color: rgba(0, 0, 0, .05) !default;