$font-family-sans-serif: 'Helvetica', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.25 !default;

// $h1-font-size:                $font-size-base * 2 !default;
$h1-font-size: $font-size-base * 1.75 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1 !default;
$h5-font-size: $font-size-base * .75 !default;
$h6-font-size: $font-size-base * .5 !default;

//
// $headings-margin-bottom:      $spacer / 2 !default;
// $headings-font-family:        null !default;
// $headings-font-weight:        500 !default;
// $headings-line-height:        1.2 !default;
// $headings-color:              null !default;
//
// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
// $display4-size:               3.5rem !default;
//
// $display1-weight:             300 !default;
// $display2-weight:             300 !default;
// $display3-weight:             300 !default;
// $display4-weight:             300 !default;
// $display-line-height:         $headings-line-height !default;
//
// $lead-font-size:              $font-size-base * 1.25 !default;
// $lead-font-weight:            300 !default;
//
// $small-font-size:             80% !default;
//
$paragraph-margin-bottom: .75rem !default;
$text-muted: $muted !default;
//
// $blockquote-small-color:      $gray-600 !default;
// $blockquote-small-font-size:  $small-font-size !default;
// $blockquote-font-size:        $font-size-base * 1.25 !default;
//
// $hr-border-color:             rgba($black, .1) !default;
// $hr-border-width:             $border-width !default;
//
// $mark-padding:                .2em !default;
//
// $dt-font-weight:              $font-weight-bold !default;
//
// $kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
// $nested-kbd-font-weight:      $font-weight-bold !default;
//
// $list-inline-padding:         .5rem !default;
//
// $mark-bg:                     #fcf8e3 !default;
//
// $hr-margin-y:                 $spacer !default;
//
// // Code
//
// $code-font-size:                    87.5% !default;
// $code-color:                        $pink !default;
//
// $kbd-padding-y:                     .2rem !default;
// $kbd-padding-x:                     .4rem !default;
// $kbd-font-size:                     $code-font-size !default;
// $kbd-color:                         $white !default;
// $kbd-bg:                            $gray-900 !default;
// // Printing
//
// $print-page-size:                   a3 !default;
// $print-body-min-width:              map-get($grid-breakpoints, "lg") !default;
//


$pre-color: $dark !default;
// $pre-scrollable-max-height:         340px !default;
//
