// Typography
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size: 14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

// Measurements
$border-radius: 4px;
$gp: 16px;
$navHeight: 48px;
$container-width: 900px;
$list-header-height: 36px;
$list-width: 300px;

// Media queries
$small: "max-width: 780px";
$medium: "max-width: 1024px";

