// Colors
$color-gray: #a5a2a2;
$color-red: #dd2020;
$color-orange: #ffae42;
$color-white: #fff;
$color-black: #000;
$color-green: #1dbc60;
$color-igdb-green: #3eb87a;
$color-light-green: #7CB490;
$color-blue: #00a8f0;
$color-dark-gray: #555555;
$color-dark-gray-transparent: rgba(85, 85, 85, .5);
$color-darker-gray: #333333;
$color-darkest-gray: #222222;
$color-light-gray: #e5e5e5;
$color-light-gray-transparent: rgba(229, 229, 229, .5);
$color-lightest-gray: #f0f0f0;

// Typography
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size: 14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

// Measurements
$border-radius: 4px;
$gp: 16px;
$navHeight: 48px;
$container-width: 900px;
$list-header-height: 30px;
$list-width: 300px;

// Media queries
$small: "max-width: 780px";
$medium: "max-width: 1024px";

