.lists {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 48px);
    padding: $gp;
    box-sizing: border-box;
    background: $color-gray;
    overflow-x: auto;
    overflow-x: overlay;
    display: flex;
    @include drag-cursor;

    &.drag-scroll-active {
        @include dragging-cursor;
    }

    &.empty {
        background: $color-white;
    }
}

.list {
    flex-shrink: 0;
    cursor: default;
    background: $color-white;
    position: relative;
    width: 300px;
    border-radius: $border-radius;
    overflow: hidden;
    margin-right: $gp;
    max-height: calc(100vh - 81px);
}

.list-header {
    align-items: center;
    background: $color-dark-gray;
    color: $color-white;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 $gp / 2;
    position: absolute;
    width: 100%;

    .list-actions {
        .list-drag-handle {
            @include drag-cursor;
        }
    }
}

.list-placeholder {
    opacity: 0.25;
}

.games {
    height: 100%;
    overflow: hidden;
    min-height: 100px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-y: overlay;
    column-gap: $gp;
    background: $color-light-gray;
    margin-top: 30px;
    padding: $gp / 2 $gp / 2 0;
    width: 100%;
}

.card-placeholder {
    opacity: 0.25;
}

.empty-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $gp;
}
