@import "_bootstrap-theme";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "_utilities";

.toast-header {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  backdrop-filter: blur(1px);
  padding: 1rem 0 !important;

  @media(max-width: 600px) {
    padding: 0 !important;
  }
}
