@import "_bootstrap-theme";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "_utilities";

.toast-header {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  padding: 1rem 0 !important;

  @media(max-width: 600px) {
    padding: 0 !important;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: $secondary;
}

::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 20px;
  border: 6px solid $secondary;
  background-clip: content-box;

  &:hover {
    background-color: $light;
  }
}
