// Media queries
$small: "max-width: 780px";
$medium: "max-width: 1024px";

// Typography
$font-weight-normal: 400;
$font-weight-bold: 700;

// Colors
$nin-black: #0d0c0c;
$nin-gray: #a5a2a2;
$nin-dk-gray: #555555;
$nin-lt-gray: #e5e5e5;
$nin-white: #ffffff;
$nin-red: #dd2020;
$zelda-green: #568233;

// Measurements
$border-radius: 4px;
$gp: 16px;

// Mixins
@mixin container-xs {
    width: 320px;
    max-height: 100%;
    margin: 100px auto;
}

.auth-form {
    @include container-xs;
}

@mixin container {
    width: 1200px;
    max-width: 100%;
    margin: 100px auto;
}

@mixin drag-cursor {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    cursor : -o-grab;
    cursor : grab;
}

@mixin dragging-cursor {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}

@mixin floating-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: $gp / 2;
}

// Misc
.page-title { margin-bottom: $gp; }

a:hover {
    text-decoration: none;
}

.md-bottom-bar {
    box-shadow: none;
}